{
  "extends": ["airbnb/base", "prettier"],
  "rules": {
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "import/extensions": "off",
    "no-param-reassign": ["error", { "props": false }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
