{
  "extends": ["airbnb/base", "prettier"],
  "rules": {
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "import/extensions": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-unused-vars": "warn",
    "curly": ["error", "all"],
    "class-methods-use-this": "warn",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["pack/pack.js"] }]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "globals": {
    "WEBPACK_MODE": "readonly" // Our webpack "macro"
  },
  "ignorePatterns": ["test/**/*.js"]
}
