/* Builder styling */

h3 {
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;

  transition: background-color 600ms;
}

h3:hover {
  background-color: #666;
  cursor: pointer;
}

.triggerLabel:before {
  content: 'Trigger: ';
  color: red;
}

.conditionLabel:before {
  content: 'Condition: ';
  color: blue;
}

.targetLabel:before {
  content: 'Target: ';
  color: #080;
}

.mechanicLabel:before {
  content: 'Mechanic: ';
  color: #f0f;
}

.componentWrapper {
  float: left;
  max-width: calc(100% - 24px);
}

.component {
  padding: 5px;
  margin: 5px;
  border: 2px solid #333;
  border-radius: 10px;
  font: 18px Sertig-Web;
  background-color: #181818;
  min-width: 260px;
  width: fit-content;
  max-width: 600px;
  min-height: 90px;
}

.component-comment::before,
.component-comment::after {
  font-size: 20px;
  color: #aaa;
  position: absolute;
  transition: all 600ms ease-in-out;
}

.component-comment::before {
  content: '“';
  left: 5px;
}

.component-comment::after {
  content: '”';
  right: 5px;
}

.component-comment:hover::before,
.component-comment:hover::after {
  opacity: 0;
}

.component-comment {
  position: relative;
  font: 14px Sertig-Web;
  color: #aaa;
  background-color: #121213;
  padding: 4px 14px 4px 14px;
  margin: 2px 4px 4px 2px;
  border-radius: 4px;
  transition: all 600ms ease-in-out;
}

.component-comment:hover {
  font: 18px Sertig-Web;
  padding: 10px 20px 10px 20px;
  background-color: #181818;
}

.componentChildren {
  margin-left: 20px;
}

.builder-button-wrapper {
  display: flex;
}

.builderButton {
  background-color: #043;
  width: 90px;
  height: 32px;
  font: 16px Sertig-Web;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  color: white;
  cursor: pointer;
  margin: 5px;

  transition: background-color 600ms;
}

.smallButton {
  width: 32px;
}

.builderButton:hover {
  background-color: #666;
}

.input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px 4px;
}

.input-label {
  font: 16px Sertig-Web;
  color: rgb(191, 191, 191);
  margin: 5px;
  background-color: rgb(66, 69, 72);
  width: fit-content;
  padding: 2px 6px;
  border-radius: 5px;
  transition: all 600ms ease-in-out;
}

.input-label:hover {
  color: rgb(211, 211, 213);
  background-color: #666;
  padding: 2px 10px;
}

/* Form styling */
